.lst-kix_hkr99x7ipqtz-1>li{
    counter-increment:lst-ctn-kix_hkr99x7ipqtz-1
  }
  ol.lst-kix_4u8w2f5nnjid-6.start{
    counter-reset:lst-ctn-kix_4u8w2f5nnjid-6 0
  }
  .lst-kix_wlfd21psn83l-7>li:before{
    content:"" counter(lst-ctn-kix_wlfd21psn83l-7,lower-latin) ". "
  }
  .lst-kix_r0ein3f6ujho-3>li{
    counter-increment:lst-ctn-kix_r0ein3f6ujho-3
  }
  .lst-kix_tqs0d2cflf6s-8>li{
    counter-increment:lst-ctn-kix_tqs0d2cflf6s-8
  }
  .lst-kix_wlfd21psn83l-6>li:before{
    content:"" counter(lst-ctn-kix_wlfd21psn83l-6,decimal) ". "
  }
  ol.lst-kix_r0ein3f6ujho-3.start{
    counter-reset:lst-ctn-kix_r0ein3f6ujho-3 0
  }
  .lst-kix_wlfd21psn83l-3>li:before{
    content:"" counter(lst-ctn-kix_wlfd21psn83l-3,decimal) ". "
  }
  .lst-kix_wlfd21psn83l-5>li:before{
    content:"" counter(lst-ctn-kix_wlfd21psn83l-5,lower-roman) ". "
  }
  ol.lst-kix_hkr99x7ipqtz-6.start{
    counter-reset:lst-ctn-kix_hkr99x7ipqtz-6 0
  }
  .lst-kix_wlfd21psn83l-4>li:before{
    content:"" counter(lst-ctn-kix_wlfd21psn83l-4,lower-latin) ". "
  }
  ol.lst-kix_hkr99x7ipqtz-3{
    list-style-type:none
  }
  ol.lst-kix_hkr99x7ipqtz-4{
    list-style-type:none
  }
  ol.lst-kix_hkr99x7ipqtz-1{
    list-style-type:none
  }
  ol.lst-kix_hkr99x7ipqtz-2{
    list-style-type:none
  }
  ol.lst-kix_hkr99x7ipqtz-0{
    list-style-type:none
  }
  ol.lst-kix_r0ein3f6ujho-0.start{
    counter-reset:lst-ctn-kix_r0ein3f6ujho-0 0
  }
  .lst-kix_r0ein3f6ujho-2>li{
    counter-increment:lst-ctn-kix_r0ein3f6ujho-2
  }
  ol.lst-kix_4u8w2f5nnjid-7{
    list-style-type:none
  }
  ol.lst-kix_tqs0d2cflf6s-0{
    list-style-type:none
  }
  ol.lst-kix_4u8w2f5nnjid-8{
    list-style-type:none
  }
  .lst-kix_hkr99x7ipqtz-2>li{
    counter-increment:lst-ctn-kix_hkr99x7ipqtz-2
  }
  ol.lst-kix_4u8w2f5nnjid-3{
    list-style-type:none
  }
  ol.lst-kix_tqs0d2cflf6s-4{
    list-style-type:none
  }
  ol.lst-kix_4u8w2f5nnjid-4{
    list-style-type:none
  }
  ol.lst-kix_tqs0d2cflf6s-3{
    list-style-type:none
  }
  ol.lst-kix_4u8w2f5nnjid-5{
    list-style-type:none
  }
  ol.lst-kix_tqs0d2cflf6s-2{
    list-style-type:none
  }
  ol.lst-kix_4u8w2f5nnjid-6{
    list-style-type:none
  }
  .lst-kix_wlfd21psn83l-8>li:before{
    content:"" counter(lst-ctn-kix_wlfd21psn83l-8,lower-roman) ". "
  }
  ol.lst-kix_tqs0d2cflf6s-1{
    list-style-type:none
  }
  ol.lst-kix_tqs0d2cflf6s-8{
    list-style-type:none
  }
  ol.lst-kix_tqs0d2cflf6s-5.start{
    counter-reset:lst-ctn-kix_tqs0d2cflf6s-5 0
  }
  ol.lst-kix_tqs0d2cflf6s-7{
    list-style-type:none
  }
  ol.lst-kix_tqs0d2cflf6s-6{
    list-style-type:none
  }
  ol.lst-kix_tqs0d2cflf6s-5{
    list-style-type:none
  }
  .lst-kix_4u8w2f5nnjid-7>li{
    counter-increment:lst-ctn-kix_4u8w2f5nnjid-7
  }
  .lst-kix_4u8w2f5nnjid-5>li{
    counter-increment:lst-ctn-kix_4u8w2f5nnjid-5
  }
  ol.lst-kix_hkr99x7ipqtz-7{
    list-style-type:none
  }
  ol.lst-kix_wlfd21psn83l-6.start{
    counter-reset:lst-ctn-kix_wlfd21psn83l-6 0
  }
  ol.lst-kix_hkr99x7ipqtz-8{
    list-style-type:none
  }
  ol.lst-kix_hkr99x7ipqtz-5{
    list-style-type:none
  }
  .lst-kix_r0ein3f6ujho-5>li{
    counter-increment:lst-ctn-kix_r0ein3f6ujho-5
  }
  ol.lst-kix_hkr99x7ipqtz-6{
    list-style-type:none
  }
  .lst-kix_wlfd21psn83l-1>li:before{
    content:"" counter(lst-ctn-kix_wlfd21psn83l-1,lower-latin) ". "
  }
  .lst-kix_hkr99x7ipqtz-3>li{
    counter-increment:lst-ctn-kix_hkr99x7ipqtz-3
  }
  .lst-kix_hkr99x7ipqtz-0>li{
    counter-increment:lst-ctn-kix_hkr99x7ipqtz-0
  }
  ol.lst-kix_hkr99x7ipqtz-3.start{
    counter-reset:lst-ctn-kix_hkr99x7ipqtz-3 0
  }
  .lst-kix_wlfd21psn83l-2>li:before{
    content:"" counter(lst-ctn-kix_wlfd21psn83l-2,lower-roman) ". "
  }
  ol.lst-kix_hkr99x7ipqtz-0.start{
    counter-reset:lst-ctn-kix_hkr99x7ipqtz-0 0
  }
  ol.lst-kix_wlfd21psn83l-3.start{
    counter-reset:lst-ctn-kix_wlfd21psn83l-3 0
  }
  ol.lst-kix_r0ein3f6ujho-6.start{
    counter-reset:lst-ctn-kix_r0ein3f6ujho-6 0
  }
  .lst-kix_wlfd21psn83l-0>li:before{
    content:"" counter(lst-ctn-kix_wlfd21psn83l-0,decimal) ". "
  }
  .lst-kix_wlfd21psn83l-8>li{
    counter-increment:lst-ctn-kix_wlfd21psn83l-8
  }
  ol.lst-kix_tqs0d2cflf6s-8.start{
    counter-reset:lst-ctn-kix_tqs0d2cflf6s-8 0
  }
  .lst-kix_r0ein3f6ujho-0>li{
    counter-increment:lst-ctn-kix_r0ein3f6ujho-0
  }
  ol.lst-kix_wlfd21psn83l-7.start{
    counter-reset:lst-ctn-kix_wlfd21psn83l-7 0
  }
  .lst-kix_r0ein3f6ujho-6>li{
    counter-increment:lst-ctn-kix_r0ein3f6ujho-6
  }
  .lst-kix_hkr99x7ipqtz-4>li{
    counter-increment:lst-ctn-kix_hkr99x7ipqtz-4
  }
  ol.lst-kix_wlfd21psn83l-0.start{
    counter-reset:lst-ctn-kix_wlfd21psn83l-0 0
  }
  .lst-kix_wlfd21psn83l-6>li{
    counter-increment:lst-ctn-kix_wlfd21psn83l-6
  }
  ol.lst-kix_r0ein3f6ujho-8{
    list-style-type:none
  }
  ol.lst-kix_r0ein3f6ujho-5{
    list-style-type:none
  }
  ol.lst-kix_r0ein3f6ujho-4{
    list-style-type:none
  }
  ol.lst-kix_r0ein3f6ujho-7{
    list-style-type:none
  }
  ol.lst-kix_r0ein3f6ujho-6{
    list-style-type:none
  }
  ol.lst-kix_r0ein3f6ujho-1{
    list-style-type:none
  }
  ol.lst-kix_r0ein3f6ujho-5.start{
    counter-reset:lst-ctn-kix_r0ein3f6ujho-5 0
  }
  ol.lst-kix_r0ein3f6ujho-0{
    list-style-type:none
  }
  ol.lst-kix_4u8w2f5nnjid-4.start{
    counter-reset:lst-ctn-kix_4u8w2f5nnjid-4 0
  }
  ol.lst-kix_r0ein3f6ujho-3{
    list-style-type:none
  }
  ol.lst-kix_r0ein3f6ujho-2{
    list-style-type:none
  }
  ol.lst-kix_tqs0d2cflf6s-2.start{
    counter-reset:lst-ctn-kix_tqs0d2cflf6s-2 0
  }
  .lst-kix_4u8w2f5nnjid-8>li{
    counter-increment:lst-ctn-kix_4u8w2f5nnjid-8
  }
  .lst-kix_4u8w2f5nnjid-4>li{
    counter-increment:lst-ctn-kix_4u8w2f5nnjid-4
  }
  ol.lst-kix_hkr99x7ipqtz-4.start{
    counter-reset:lst-ctn-kix_hkr99x7ipqtz-4 0
  }
  .lst-kix_wlfd21psn83l-0>li{
    counter-increment:lst-ctn-kix_wlfd21psn83l-0
  }
  ol.lst-kix_4u8w2f5nnjid-0{
    list-style-type:none
  }
  ol.lst-kix_4u8w2f5nnjid-1{
    list-style-type:none
  }
  ol.lst-kix_4u8w2f5nnjid-2{
    list-style-type:none
  }
  .lst-kix_tqs0d2cflf6s-4>li{
    counter-increment:lst-ctn-kix_tqs0d2cflf6s-4
  }
  .lst-kix_tqs0d2cflf6s-7>li{
    counter-increment:lst-ctn-kix_tqs0d2cflf6s-7
  }
  ol.lst-kix_hkr99x7ipqtz-5.start{
    counter-reset:lst-ctn-kix_hkr99x7ipqtz-5 0
  }
  ol.lst-kix_r0ein3f6ujho-4.start{
    counter-reset:lst-ctn-kix_r0ein3f6ujho-4 0
  }
  ol.lst-kix_wlfd21psn83l-1.start{
    counter-reset:lst-ctn-kix_wlfd21psn83l-1 0
  }
  .lst-kix_tqs0d2cflf6s-1>li{
    counter-increment:lst-ctn-kix_tqs0d2cflf6s-1
  }
  ol.lst-kix_wlfd21psn83l-0{
    list-style-type:none
  }
  ol.lst-kix_wlfd21psn83l-1{
    list-style-type:none
  }
  ol.lst-kix_wlfd21psn83l-2{
    list-style-type:none
  }
  ol.lst-kix_wlfd21psn83l-3{
    list-style-type:none
  }
  ol.lst-kix_4u8w2f5nnjid-3.start{
    counter-reset:lst-ctn-kix_4u8w2f5nnjid-3 0
  }
  ol.lst-kix_wlfd21psn83l-4{
    list-style-type:none
  }
  ol.lst-kix_wlfd21psn83l-5{
    list-style-type:none
  }
  ol.lst-kix_wlfd21psn83l-6{
    list-style-type:none
  }
  ol.lst-kix_wlfd21psn83l-7{
    list-style-type:none
  }
  ol.lst-kix_wlfd21psn83l-8{
    list-style-type:none
  }
  ol.lst-kix_tqs0d2cflf6s-3.start{
    counter-reset:lst-ctn-kix_tqs0d2cflf6s-3 0
  }
  ol.lst-kix_wlfd21psn83l-8.start{
    counter-reset:lst-ctn-kix_wlfd21psn83l-8 0
  }
  .lst-kix_wlfd21psn83l-3>li{
    counter-increment:lst-ctn-kix_wlfd21psn83l-3
  }
  .lst-kix_4u8w2f5nnjid-0>li{
    counter-increment:lst-ctn-kix_4u8w2f5nnjid-0
  }
  .lst-kix_hkr99x7ipqtz-7>li{
    counter-increment:lst-ctn-kix_hkr99x7ipqtz-7
  }
  ol.lst-kix_wlfd21psn83l-2.start{
    counter-reset:lst-ctn-kix_wlfd21psn83l-2 0
  }
  ol.lst-kix_wlfd21psn83l-5.start{
    counter-reset:lst-ctn-kix_wlfd21psn83l-5 0
  }
  ol.lst-kix_tqs0d2cflf6s-1.start{
    counter-reset:lst-ctn-kix_tqs0d2cflf6s-1 0
  }
  ol.lst-kix_hkr99x7ipqtz-2.start{
    counter-reset:lst-ctn-kix_hkr99x7ipqtz-2 0
  }
  .lst-kix_4u8w2f5nnjid-8>li:before{
    content:"" counter(lst-ctn-kix_4u8w2f5nnjid-8,lower-roman) ". "
  }
  .lst-kix_tqs0d2cflf6s-3>li{
    counter-increment:lst-ctn-kix_tqs0d2cflf6s-3
  }
  ol.lst-kix_tqs0d2cflf6s-7.start{
    counter-reset:lst-ctn-kix_tqs0d2cflf6s-7 0
  }
  .lst-kix_hkr99x7ipqtz-7>li:before{
    content:"" counter(lst-ctn-kix_hkr99x7ipqtz-7,lower-latin) ". "
  }
  .lst-kix_4u8w2f5nnjid-5>li:before{
    content:"" counter(lst-ctn-kix_4u8w2f5nnjid-5,lower-roman) ". "
  }
  .lst-kix_4u8w2f5nnjid-6>li:before{
    content:"" counter(lst-ctn-kix_4u8w2f5nnjid-6,decimal) ". "
  }
  ol.lst-kix_tqs0d2cflf6s-4.start{
    counter-reset:lst-ctn-kix_tqs0d2cflf6s-4 0
  }
  .lst-kix_4u8w2f5nnjid-1>li{
    counter-increment:lst-ctn-kix_4u8w2f5nnjid-1
  }
  .lst-kix_4u8w2f5nnjid-7>li:before{
    content:"" counter(lst-ctn-kix_4u8w2f5nnjid-7,lower-latin) ". "
  }
  .lst-kix_hkr99x7ipqtz-8>li:before{
    content:"" counter(lst-ctn-kix_hkr99x7ipqtz-8,lower-roman) ". "
  }
  .lst-kix_hkr99x7ipqtz-3>li:before{
    content:"" counter(lst-ctn-kix_hkr99x7ipqtz-3,decimal) ". "
  }
  ol.lst-kix_r0ein3f6ujho-2.start{
    counter-reset:lst-ctn-kix_r0ein3f6ujho-2 0
  }
  .lst-kix_hkr99x7ipqtz-2>li:before{
    content:"" counter(lst-ctn-kix_hkr99x7ipqtz-2,lower-roman) ". "
  }
  .lst-kix_hkr99x7ipqtz-6>li:before{
    content:"" counter(lst-ctn-kix_hkr99x7ipqtz-6,decimal) ". "
  }
  .lst-kix_hkr99x7ipqtz-8>li{
    counter-increment:lst-ctn-kix_hkr99x7ipqtz-8
  }
  ol.lst-kix_4u8w2f5nnjid-2.start{
    counter-reset:lst-ctn-kix_4u8w2f5nnjid-2 0
  }
  .lst-kix_hkr99x7ipqtz-5>li:before{
    content:"" counter(lst-ctn-kix_hkr99x7ipqtz-5,lower-roman) ". "
  }
  .lst-kix_4u8w2f5nnjid-2>li{
    counter-increment:lst-ctn-kix_4u8w2f5nnjid-2
  }
  .lst-kix_hkr99x7ipqtz-4>li:before{
    content:"" counter(lst-ctn-kix_hkr99x7ipqtz-4,lower-latin) ". "
  }
  .lst-kix_hkr99x7ipqtz-6>li{
    counter-increment:lst-ctn-kix_hkr99x7ipqtz-6
  }
  .lst-kix_r0ein3f6ujho-8>li{
    counter-increment:lst-ctn-kix_r0ein3f6ujho-8
  }
  .lst-kix_wlfd21psn83l-2>li{
    counter-increment:lst-ctn-kix_wlfd21psn83l-2
  }
  ol.lst-kix_4u8w2f5nnjid-5.start{
    counter-reset:lst-ctn-kix_4u8w2f5nnjid-5 0
  }
  .lst-kix_tqs0d2cflf6s-2>li{
    counter-increment:lst-ctn-kix_tqs0d2cflf6s-2
  }
  .lst-kix_tqs0d2cflf6s-6>li:before{
    content:"" counter(lst-ctn-kix_tqs0d2cflf6s-6,decimal) ". "
  }
  ol.lst-kix_4u8w2f5nnjid-8.start{
    counter-reset:lst-ctn-kix_4u8w2f5nnjid-8 0
  }
  .lst-kix_tqs0d2cflf6s-5>li{
    counter-increment:lst-ctn-kix_tqs0d2cflf6s-5
  }
  .lst-kix_tqs0d2cflf6s-7>li:before{
    content:"" counter(lst-ctn-kix_tqs0d2cflf6s-7,lower-latin) ". "
  }
  .lst-kix_wlfd21psn83l-5>li{
    counter-increment:lst-ctn-kix_wlfd21psn83l-5
  }
  .lst-kix_hkr99x7ipqtz-1>li:before{
    content:"" counter(lst-ctn-kix_hkr99x7ipqtz-1,lower-latin) ". "
  }
  .lst-kix_tqs0d2cflf6s-8>li:before{
    content:"" counter(lst-ctn-kix_tqs0d2cflf6s-8,lower-roman) ". "
  }
  .lst-kix_hkr99x7ipqtz-0>li:before{
    content:"" counter(lst-ctn-kix_hkr99x7ipqtz-0,decimal) ". "
  }
  .lst-kix_tqs0d2cflf6s-2>li:before{
    content:"" counter(lst-ctn-kix_tqs0d2cflf6s-2,lower-roman) ". "
  }
  .lst-kix_4u8w2f5nnjid-3>li{
    counter-increment:lst-ctn-kix_4u8w2f5nnjid-3
  }
  .lst-kix_tqs0d2cflf6s-1>li:before{
    content:"" counter(lst-ctn-kix_tqs0d2cflf6s-1,lower-latin) ". "
  }
  .lst-kix_tqs0d2cflf6s-3>li:before{
    content:"" counter(lst-ctn-kix_tqs0d2cflf6s-3,decimal) ". "
  }
  ol.lst-kix_4u8w2f5nnjid-1.start{
    counter-reset:lst-ctn-kix_4u8w2f5nnjid-1 0
  }
  .lst-kix_r0ein3f6ujho-0>li:before{
    content:"" counter(lst-ctn-kix_r0ein3f6ujho-0,decimal) ". "
  }
  .lst-kix_r0ein3f6ujho-1>li:before{
    content:"" counter(lst-ctn-kix_r0ein3f6ujho-1,lower-latin) ". "
  }
  ol.lst-kix_hkr99x7ipqtz-1.start{
    counter-reset:lst-ctn-kix_hkr99x7ipqtz-1 0
  }
  .lst-kix_tqs0d2cflf6s-5>li:before{
    content:"" counter(lst-ctn-kix_tqs0d2cflf6s-5,lower-roman) ". "
  }
  .lst-kix_tqs0d2cflf6s-4>li:before{
    content:"" counter(lst-ctn-kix_tqs0d2cflf6s-4,lower-latin) ". "
  }
  ol.lst-kix_tqs0d2cflf6s-6.start{
    counter-reset:lst-ctn-kix_tqs0d2cflf6s-6 0
  }
  ol.lst-kix_r0ein3f6ujho-8.start{
    counter-reset:lst-ctn-kix_r0ein3f6ujho-8 0
  }
  .lst-kix_r0ein3f6ujho-4>li:before{
    content:"" counter(lst-ctn-kix_r0ein3f6ujho-4,lower-latin) ". "
  }
  .lst-kix_tqs0d2cflf6s-6>li{
    counter-increment:lst-ctn-kix_tqs0d2cflf6s-6
  }
  .lst-kix_r0ein3f6ujho-5>li:before{
    content:"" counter(lst-ctn-kix_r0ein3f6ujho-5,lower-roman) ". "
  }
  ol.lst-kix_wlfd21psn83l-4.start{
    counter-reset:lst-ctn-kix_wlfd21psn83l-4 0
  }
  .lst-kix_r0ein3f6ujho-6>li:before{
    content:"" counter(lst-ctn-kix_r0ein3f6ujho-6,decimal) ". "
  }
  .lst-kix_tqs0d2cflf6s-0>li{
    counter-increment:lst-ctn-kix_tqs0d2cflf6s-0
  }
  .lst-kix_r0ein3f6ujho-2>li:before{
    content:"" counter(lst-ctn-kix_r0ein3f6ujho-2,lower-roman) ". "
  }
  .lst-kix_r0ein3f6ujho-3>li:before{
    content:"" counter(lst-ctn-kix_r0ein3f6ujho-3,decimal) ". "
  }
  ol.lst-kix_hkr99x7ipqtz-7.start{
    counter-reset:lst-ctn-kix_hkr99x7ipqtz-7 0
  }
  .lst-kix_hkr99x7ipqtz-5>li{
    counter-increment:lst-ctn-kix_hkr99x7ipqtz-5
  }
  .lst-kix_tqs0d2cflf6s-0>li:before{
    content:"" counter(lst-ctn-kix_tqs0d2cflf6s-0,decimal) ". "
  }
  .lst-kix_4u8w2f5nnjid-1>li:before{
    content:"" counter(lst-ctn-kix_4u8w2f5nnjid-1,lower-latin) ". "
  }
  .lst-kix_4u8w2f5nnjid-2>li:before{
    content:"" counter(lst-ctn-kix_4u8w2f5nnjid-2,lower-roman) ". "
  }
  ol.lst-kix_4u8w2f5nnjid-7.start{
    counter-reset:lst-ctn-kix_4u8w2f5nnjid-7 0
  }
  .lst-kix_4u8w2f5nnjid-0>li:before{
    content:"" counter(lst-ctn-kix_4u8w2f5nnjid-0,decimal) ". "
  }
  .lst-kix_4u8w2f5nnjid-4>li:before{
    content:"" counter(lst-ctn-kix_4u8w2f5nnjid-4,lower-latin) ". "
  }
  ol.lst-kix_r0ein3f6ujho-7.start{
    counter-reset:lst-ctn-kix_r0ein3f6ujho-7 0
  }
  .lst-kix_r0ein3f6ujho-7>li{
    counter-increment:lst-ctn-kix_r0ein3f6ujho-7
  }
  .lst-kix_r0ein3f6ujho-8>li:before{
    content:"" counter(lst-ctn-kix_r0ein3f6ujho-8,lower-roman) ". "
  }
  .lst-kix_r0ein3f6ujho-7>li:before{
    content:"" counter(lst-ctn-kix_r0ein3f6ujho-7,lower-latin) ". "
  }
  .lst-kix_wlfd21psn83l-7>li{
    counter-increment:lst-ctn-kix_wlfd21psn83l-7
  }
  .lst-kix_4u8w2f5nnjid-3>li:before{
    content:"" counter(lst-ctn-kix_4u8w2f5nnjid-3,decimal) ". "
  }
  .lst-kix_wlfd21psn83l-4>li{
    counter-increment:lst-ctn-kix_wlfd21psn83l-4
  }
  ol.lst-kix_hkr99x7ipqtz-8.start{
    counter-reset:lst-ctn-kix_hkr99x7ipqtz-8 0
  }
  .lst-kix_wlfd21psn83l-1>li{
    counter-increment:lst-ctn-kix_wlfd21psn83l-1
  }
  .lst-kix_r0ein3f6ujho-4>li{
    counter-increment:lst-ctn-kix_r0ein3f6ujho-4
  }
  .lst-kix_r0ein3f6ujho-1>li{
    counter-increment:lst-ctn-kix_r0ein3f6ujho-1
  }
  ol.lst-kix_tqs0d2cflf6s-0.start{
    counter-reset:lst-ctn-kix_tqs0d2cflf6s-0 0
  }
  ol.lst-kix_r0ein3f6ujho-1.start{
    counter-reset:lst-ctn-kix_r0ein3f6ujho-1 0
  }
  .lst-kix_4u8w2f5nnjid-6>li{
    counter-increment:lst-ctn-kix_4u8w2f5nnjid-6
  }
  ol.lst-kix_4u8w2f5nnjid-0.start{
    counter-reset:lst-ctn-kix_4u8w2f5nnjid-0 0
  }
  ol{
    margin:0;
    padding:0
  }
  table td,table th{
    padding:0
  }
  .c5{
    margin-left:36pt;
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:left;
    height:11pt
  }
  .c2{
    margin-left:72pt;
    padding-top:0pt;
    padding-left:0pt;
    padding-bottom:0pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:left
  }
  .c0{
    margin-left:108pt;
    padding-top:0pt;
    padding-left:0pt;
    padding-bottom:0pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:left
  }
  .c6{
    margin-left:36pt;
    padding-top:0pt;
    padding-left:0pt;
    padding-bottom:0pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:left
  }
  .c8{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:left;
    height:11pt
  }
  .c3{
    color:#000000;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:11pt;
    font-family:"Arial";
    font-style:normal
  }
  .c4{
    color:#000000;
    font-weight:700;
    text-decoration:none;
    vertical-align:baseline;
    font-size:11pt;
    font-family:"Arial";
    font-style:normal
  }
  .c9{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:left
  }
  .c7{
    background-color:#ffffff;
    max-width:468pt;
    padding:72pt 72pt 72pt 72pt
  }
  .c1{
    padding:0;
    margin:0
  }
  .title{
    padding-top:0pt;
    color:#000000;
    font-size:21pt;
    padding-bottom:0pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:right
  }
  .subtitle{
    padding-top:0pt;
    color:#666666;
    font-size:13pt;
    padding-bottom:10pt;
    font-family:"Trebuchet MS";
    line-height:1.15;
    page-break-after:avoid;
    font-style:italic;
    orphans:2;
    widows:2;
    text-align:left
  }
  li{
    color:#000000;
    font-size:11pt;
    font-family:"Arial"
  }
  p{
    margin:0;
    color:#000000;
    font-size:11pt;
    font-family:"Arial"
  }
  h1{
    padding-top:10pt;
    color:#0b5394;
    font-size:16pt;
    padding-bottom:0pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
  }
  h2{
    padding-top:10pt;
    color:#073763;
    font-weight:700;
    font-size:13pt;
    padding-bottom:0pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
  }
  h3{
    padding-top:8pt;
    color:#666666;
    font-weight:700;
    font-size:12pt;
    padding-bottom:0pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
  }
  h4{
    padding-top:8pt;
    -webkit-text-decoration-skip:none;
    color:#666666;
    text-decoration:underline;
    font-size:11pt;
    padding-bottom:0pt;
    line-height:1.15;
    page-break-after:avoid;
    text-decoration-skip-ink:none;
    font-family:"Trebuchet MS";
    orphans:2;
    widows:2;
    text-align:left
  }
  h5{
    padding-top:8pt;
    color:#666666;
    font-size:11pt;
    padding-bottom:0pt;
    font-family:"Trebuchet MS";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
  }
  h6{
    padding-top:8pt;
    color:#666666;
    font-size:11pt;
    padding-bottom:0pt;
    font-family:"Trebuchet MS";
    line-height:1.15;
    page-break-after:avoid;
    font-style:italic;
    orphans:2;
    widows:2;
    text-align:left
  }